name: CI test
on:
 push:
   branches:
     - '**'
jobs:
 build:
   name: Cargo tests
   runs-on: ubuntu-latest
   steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Cache cargo registry and target
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-registry-

      - name: Install system dependencies and FoundationDB client
        run: |
          sudo apt update && sudo apt-get install -y clang libclang-dev llvm-dev pkg-config \
            && wget -O /tmp/fdb-client.deb https://github.com/apple/foundationdb/releases/download/7.3.63/foundationdb-clients_7.3.63-1_amd64.deb \
            && sudo dpkg -i /tmp/fdb-client.deb

      - name: Run cargo tests
        run: |
          rustc --version
          cargo test --workspace --all-features --verbose
